// @import '@/theme/_index.scss';
html, body, #app {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.common-bg {
    background: rgba(0, 0, 0, 0.73);
}

.table-input, .input-message，.new-group-name {
    .el-input__inner {
        color: white;
        height: 28px;
        opacity: 0.5;
        border-radius: 0;
        background: #01112a;

        &::placeholder {
            color: white;
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    cursor: pointer;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: none;
}
